@model AdoptionShelter.Models.AddEditVM
@{
    ViewBag.Title = "AddShelter";
}
<body background="http://3.bp.blogspot.com/_2UbsSBz9ckE/SyQaB5vl4UI/AAAAAAAAAmA/6AjuRmH0SAc/s1600/shark_profile_hd_wallpaper.jpg">

    <h2><font color="darkblue">Please add your Shelter in the form below</font></h2>
    <form method="post">
        <font style="color: darkblue; font-size: 1.5em;" />
        @*@Html.HiddenFor(x=> x.Shelter.Id)*@
        Enter Name<br />
        @Html.EditorFor(x => x.Shelter.Name)<br/>
        Enter Picture URL<br />
        @Html.EditorFor(x => x.Shelter.ShelterPic)<br/>
        Enter Shelter Address<br />
        @Html.EditorFor(x => x.Shelter.Address)<br />
       
        <input class="btn btn-success" type="submit" value="@Model.ButtonMessage" />
    </form>
    @if (Model.ButtonMessage == "Submit Changes")
    {
        <form method="post">
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
    }
</body>